@tailwind base;
@tailwind components;
@tailwind utilities;
.modal{
	overflow: hidden;
}
html {
	font-family: 'silkscreen', cursive;
	background-image: url("./assets/background.png");
	background-size: cover;
	overflow-x: hidden;
	-ms-overflow-style: hidden;
	cursor: url("./assets/mouse.png"), auto;
}

.btn1:hover +  .img1 {
	opacity: 0.5;
}
.btn2:hover + .img2 {
	opacity: 0.5;
}
.btn3:hover + .img3 {
	opacity: 0.5;
}
#insta {
		  @supports (-webkit-appearance: none) {
			  top: 50%;
		  }
	  }
	  #twitter {
		  @supports (-webkit-appearance: none) {
			  top: 50%;
		  }
	  }
@media (min-width: 320px) and (max-width: 480px) {
.header {
font-size: 60px;
margin-left: -80px;
}
.profile {
border: none;
}
.profile-img {
position: absolute;
margin-top: -650px;
margin-left: -620px;
transform: scale(.5)
}
.header-profile {
position: absolute;
margin-top: 150px;
margin-left: -340px;
font-size: 25px;
}
.intro-text {
position: absolute;
margin-left: -400px;
margin-top: 20%;
max-width: 350px;
}
.facts {
position: absolute;
margin-left: -330px;
margin-top: 65%;
max-width: 350px;
}
.facts-text {
position: absolute;
margin-left: -330px;
margin-top: 800px;
max-width: 300px;
}
.facts-1 {
margin-top: 780px;
}
.facts-2 {
margin-top: 900px;
}
.facts-3 {
margin-top: 800px;
}
.facts-4 {
margin-top: 950px;
}
.navbar {
position: absolute;
display: none;
margin-top: -900px;
margin-left: 30px;
z-index: 40;
background: url("./assets/background.png")
}
.socials {
transform: scale(.2)
}
.instagram {
margin-top: -80px;
margin-left: -100px;
}
.linkedin {
margin-top: -235px;
margin-left: 100px;
}
.reddit {
margin-top: -160px;
margin-left: -100px;
}
.tiktok {
margin-top: -155px;
margin-left: 100px;
}
.navbar-mobile-button {
position: absolute;
display: block;
margin-top: -270%;
margin-left: 300px;
}
.navbar-mobile-checkbox {
display: block;
position: absolute;
margin-top: -260%;
margin-left: 320px;
transform: scale(3);
z-index: 30;
opacity: 0;
}
.navbar-mobile-checkbox:checked ~ .navbar {
display: block;
}
.blog-preview {
border: none;
margin-top: 650px;
margin-left: -10px;
}
.blog-preview-title {
max-width: 200px;
margin-left: 20px;
}
.portfolio-preview {
border: none;
margin-top: -150px;
margin-left: -130px;
transform: scale(.8)
}
.portfolio-text {
max-width: 200px;
}
.footer {
margin-left: -80px;
font-size: 10px;
max-width: 300px;
}
.about-title {
font-size: 50px;
margin-left: -150px;
}
.about-main {
border: none;
margin-left: -50px;
overflow-y: hidden;
}
.about-text {
margin-top: 230px;
margin-left: -150px;
max-width: 300px;
overflow-y: auto;
}
.navbar-about {
margin-top: 400px;
}
.abouts-title {
position: absolute;
font-size: 38px;
max-width: 400px;
}
.abouts {
border: none;
max-width: 300px;
}
.about-1-title {
margin-top: 600px;
margin-left: -60px;
}
.about-1 {
margin-top: -300px;
}
.about-2-title {
margin-left: -210px;
margin-top: 1150px;
}
.about-2 {
margin-top: 80px;
margin-left: 30px;
}
.about-3-title {
margin-top: 650px;
margin-left: -58px;
}
.about-3 {
margin-top: 130px;
}
.about-4-title {
margin-top: 2000px;
margin-left: -200px;
}
.about-4 {
margin-top: 650px;
margin-left: 30px;
}
.about-5-title {
margin-top: 2650px;
}
.about-6-title {
margin-top: 3400px;
margin-left: -180px;
}
.about-6 {
margin-top: 400px;
margin-left: 30px;
}
.blog-title {
margin-top: 280px;
margin-left: -150px;
font-size: 50px;
}
.navbar-blog {
margin-top: 700px;
}
.blog-page-title {
top: -800px;
left: -40px;
}
.post {
transform: translateY(-900px);
margin-left: 50px;
}
.post-title {
margin-top: 250px;
margin-left: 10px;
font-size: 50px;
overflow: visible;
max-width: 300px;
}
.post-date {
position: absolute;
margin-left: -200px;
margin-top: -900px;
font-size: 30px;
}
.post-navbar {
margin-top: 750px;
}
.post-text {
margin-left: -30px;
max-width: 300px;
}
.post-link {
margin-left: -30px;
max-width: 300px;
}
.img-post {
margin-left: -100px;
transform: translateY(-900px);
position: absolute;
z-index: 100;
}
.portfolio {
height: 1300px;
margin-top: 400px;
}
.portfolio-title {
font-size: 45px;
margin-left: -80px;
}
.project-subtext {
display: none;
}
.project-img {
transform: scale(.8)
}
.btn1 {
position: absolute;
margin-top: -100px;
margin-left: -100px;
}
.project-img-2 {
margin-top: 180px;
}
.project-text-2 {
position: absolute;
margin-top: 850px;
margin-left: -620px;
}
.btn2 {
position: absolute;
margin-left: -630px;
margin-top: 700px;
}
.project-img-3 {
margin-top: 300px;
margin-left: -10px;
}
.project-text-3 {
position: absolute;
margin-top: 550px;
margin-left: -1150px;
}
.btn3 {
position: absolute;
margin-left: -1150px;
margin-top: 600px;
}
.services-title {
font-size: 50px;
margin-top: -950px;
margin-left: -10px;
}
.services-container {
transform: scale(.35);
margin-left: -400px;
margin-top: -1450px;
border: none;
}
.service-text {
font-size: 25px;
max-width: 280px;
max-height: 406px;
overflow: scroll;
}
.service-title {
font-size: 30px;
}
.service-1-title {
margin-left: -340px;
}
.service-2-title {
margin-left: 550px;
}
.service-2-img {
margin-top: -500px;
margin-left: 530px;
}
.service-3-img {
margin-top: 300px;
}
.service-3-title {
margin-top: 400px;
margin-left: 50px;
}
.service-4-img {
margin-top: -500px;
}
.service-4-text {
margin-top: -50px;
margin-left: 30px;
}
.service-4-title {
margin-left: -700px;
}
.service-5-img {
margin-top: 20px;
}
.service-5-title {
position: absolute;
margin-top: 35px;
margin-left: -20px;
}
.service-5-text {
margin-top: 100px;
}
.service-6-img {
margin-left: 150px;
}
.service-6-title {
margin-left: -800px;
}
.service-6-text {
margin-left: 30px;
}
.services {
margin-top: 100px;
}
.services-footer {
position: absolute;
margin-top: -1900px;
}
.navbar-services {
margin-top: 1000px;
}
}

@media (min-height: 700px) and (max-height: 1000px) and  (max-width: 480px) {
.navbar-mobile-button {
margin-top: -1200px;
}
.navbar {
margin-top: -1100px;
}
.navbar-mobile-checkbox {
margin-top: -1200px;
}
.navbar-about {
margin-top: 630px;
}
.about-1 {
margin-top: -500px;}
.about-2 {
margin-top: 45px;
}
.navbar-blog {
margin-top: 930px;
}
.post-navbar {
margin-top: 1000px;
}
.post {
transform: translateY(-1100px);
}
.img-post {
transform: translateY(-1100px)
}
.post-date {
margin-top: -1150px;
}
.navbar-services {
transform: translateY(250px);
}
.portfolio {
margin-top: 650px;
height: 1500px;
}
.project-text-3 {
margin-top: 600px;
}
.btn3 {
margin-top: 650px;
}
}

@media (height: 846px) {
.navbar-mobile-button {
margin-top: -1150px;
}
.navbar-mobile-checkbox {
margin-top: -1150px;
}
.portfolio {
margin-top: 1000px;
}
.navbar-services {
transform: translateY(200px)
}
}
@media (height: 760px) {
.navbar-mobile-button {
margin-top: -1050px;
}
.navbar-mobile-checkbox {
margin-top: -1050px;
}
.navbar {
margin-top: -900px;
}
.navbar-about {
transform: translateY(-160px)
}
.navbar-blog {
transform: translateY(-150px)
}
.blog-page-title {
transform: translateY(-300px)
}
.post-navbar {
position: absolute;
margin-top: 850px;
}
.post {
transform: translateY(-100px)
}
.img-post {
transform: translateY(-100px)
}
.post-footer {
margin-top: 800px;
}
.navbar-services {
transform: translateY(100px)
}
}
@media (height: 854px) {
.navbar-mobile-button {
margin-top: -1150px;
}
.navbar-mobile-checkbox {
margin-top: -1150px;
}
.navbar-services {
transform: translateY(200px)
}}
@media (height: 812px) {
.navbar-mobile-button {
margin-top: -1100px;
}
.navbar-mobile-checkbox {
margin-top: -1100px;
}
.navbar {
margin-top: -1000px;
}
.navbar-blog {
transform: translateY(-100px)}
.navbar-services {
transform: translateY(150px)
}}
@media (height: 844px) {
.navbar-mobile-button {
margin-top: -1100px;
}
.navbar-mobile-checkbox {
margin-top: -1100px;
}
.navbar {
margin-top: -1000px;
}
.navbar-blog {
transform: translateY(-100px)
}
.blog-page-title {
transform: translateY(-300px)
}
.navbar-services {
transform: translateY(150px)
}
}
@media (height:926px) {
.header {
margin-left: -100px;
max-width: 400px;
}
}
@media (height: 667px) {
.navbar-mobile-button {
margin-top: -1000px;
}
.navbar-about {
transform: translateY(50px)
}
.navbar-services {
transform: translateY(30px)}
}
@media (min-width: 640px) and (max-width: 800px) {
.header {
font-size: 60px;
margin-left: -150px;
}
.header-profile {
margin-left: 150px;
}
.profile {
border: none;
margin-top: 100px;
margin-left: -300px;
max-width: 600px;
}
.profile-img {
margin-top: -1350px;
margin-left: 100px;
transform: scale(.7)
}
.facts {
margin-left: 100px;
}
.facts-text {
margin-top: 50px;
margin-left: 100px;
}
.navbar {
position: absolute;
display: none;
margin-top: -850px;
z-index: 30;
margin-left: 200px;
background: url("./assets/background.png")
}
.socials {
transform: scale(.2)
}
.instagram {
margin-top: -80px;
margin-left: -100px;
}
.linkedin {
margin-top: -238px;
margin-left: 100px;
}
.reddit {
margin-top: -158px;
margin-left: -100px;
}
.tiktok {
margin-top: -155px;
margin-left: 100px;}
.navbar-mobile-button {
position: absolute;
display: block;
margin-top: -940px;
margin-left: 550px;
}
.navbar-mobile-checkbox {
display: block;
position: absolute;
margin-top: -900px;
margin-left: 580px;
transform: scale(2);
z-index: 30;
opacity: 0;
}
.navbar-mobile-checkbox:checked ~ .navbar {
display: block;
}
.blog-preview {
border: none;
margin-top: 380px;
margin-left: 10px;
max-width: 600px;
}
.portfolio-preview {
border: none;
margin-top: 800px;
margin-left: 10px;
max-width: 600px;
}
.footer {
margin-left: -200px;
font-size: 10px;
}
.about-title {
font-size: 50px;
margin-left: -200px;
}
.about-main {
border: none;
overflow-y: hidden;
}
.about-image {
position: absolute;
margin-left: -320px;
margin-top: -200px;
transform: scale(.4)
}
.about-text {
margin-top: 950px;
margin-left: -200px;
max-width: 400px;
}
.navbar-about {
transform: translateY(350px)
}
.border {
border: none;
}
.abouts-title {
max-width: 400px;
}
.abouts {
max-width: 600px;
}
.about-1-title {
margin-top: -200px;
margin-left: 150px
}
.about-1 {
margin-top: 100px;
margin-left: 30px;
}
.about-2-title {
margin-top: 650px;
margin-left: -10px;
}
.about-2 {
margin-top: -600px;
margin-left: 30px;
}
.about-3-title {
margin-top: -850px;
margin-left: 150px;
}
.about-3 {
margin-top: 950px;
}
.about-4-title {
margin-top: 1300px;
margin-left: -50px;
}
.about-4 {
margin-top: -750px;
margin-left: 35px;
}
.about-5-title {
margin-top: 550px;
margin-left: 140px;
}
.about-5 {
margin-top: -600px;
margin-left: 20px;
}
.about-6-title {
margin-top: 1150px;
margin-left: -50px;
}
.about-6 {
margin-top: -800px;
margin-left: 14px;
}
.blog-title {
font-size: 50px;
margin-top: 250px;
}
.navbar-blog {
margin-top: 650px;
}
.blog-page-title {
margin-top: -300px;
}
.post-title {
font-size: 50px;
margin-top: 250px;
}
.post-date {
opacity: 0;
}
.post-navbar {
margin-top: 650px;
}
.post {
transform: translateY(-900px)
}
.img-post {
transform: translateY(-900px)
}
.portfolio {
height: 2000px;
margin-top: 1000px;
}
.portfolio-title {
font-size: 60px;
margin-left: -60px;
}
.project-img {
transform: scale(.8)
}
.project-subtext {
display: none;
}
.project-text-1 {
position: absolute;
margin-top: 150px;
margin-left: 50px;
}
.project-img-2 {
margin-top: 200px;
}
.project-text-2 {
margin-left: -580px;
margin-top: 1100px;
}
.btn1 {
position: absolute;
margin-top: 150px;
margin-left: -120px;
}
.btn2 {
position: absolute;
margin-left: -580px;
margin-top: 950px;
}
.project-img-3 {
margin-top: 500px;
margin-left: -10px;
}
.project-text-3 {
margin-left: -1100px;
margin-top: 990px;
}
.btn3 {
margin-left: -1100px;
margin-top: 1100px;
}
.services-title {
font-size: 100px;
margin-top: -950px;
margin-left: -10px;
}
.services-container {
transform: scale(.6);
margin-left: -250px;
margin-top: -1250px;
border: none;
}
.service-text {
font-size: 25px;
max-width: 280px;
max-height: 406px;
overflow: scroll;
}
.service-title {
font-size: 30px;
}
.service-1-title {
margin-left: -340px;
}
.service-2-title {
margin-left: 550px;
}
.service-2-img {
margin-top: -500px;
margin-left: 530px;
}
.service-3-img {
margin-top: 300px;
}
.service-3-title {
margin-top: 400px;
margin-left: 50px;
}
.service-4-img {
margin-top: -500px;
}
.service-4-text {
margin-top: -50px;
margin-left: 30px;
}
.service-4-title {
margin-left: -700px;
}
.service-5-img {
margin-top: 20px;
}
.service-5-title {
position: absolute;
margin-top: 35px;
margin-left: -20px;
}
.service-5-text {
margin-top: 100px;
}
.service-6-img {
margin-left: 150px;
}
.service-6-title {
margin-left: -800px;
}
.service-6-text {
margin-left: 30px;
}

.services-footer {
position: absolute;
margin-left: 100px;
}
.navbar-services {
margin-top: 1000px;
}
}
@media (width: 760px) {
.about-text {
margin-left: -100px;
}
.about-image {
margin-left: -400px;
}
.post-navbar {
margin-left: 100px;
}
}
@media (min-width: 801px) and (max-width: 1024px) {
.header {
margin-left: -100px;
}
.profile {
margin-top: -800px;
margin-left: -270px;
max-width: 790px;
border: none;
}
.intro-text {
max-width: 650px;
}
.profile-img {
margin-top: -100px;
}
.navbar {
position: absolute;
display: none;
margin-top: -600px;
margin-left: 480px;
background-image: url("./assets/background.png");
z-index: 30;
}
.socials {
transform: scale(.2)
}
.instagram {
margin-left: -100px;
}
.linkedin {
margin-left: -100px;
margin-top: -240px;
}
.reddit {
margin-left: 100px;
margin-top: -230px;
}
.tiktok {
margin-left: 100px;
margin-top: -150px;
}
.navbar-mobile-button {
position: absolute;
display: block;
margin-top: -750px;
margin-left: 650px;
}
.navbar-mobile-checkbox {
position: absolute;
display: block;
margin-top: -710px;
margin-left: 680px;
transform: scale(2);
z-index: 30;
opacity: 0;
}
.navbar-mobile-checkbox:checked ~ .navbar {
display: block;
}
.blog-preview {
border: none;
margin-left: -10px;
margin-top: -30px;
max-width: 800px;
}
.portfolio-preview {
position: absolute;
border: none;
margin-top: 250px;
margin-left: -12px;
max-width: 800px;
}
.footer {
margin-left: -350px;
}
.about-title {
margin-left: -350px;
}
.navbar-about {
transform: translateY(100px);
margin-left: 80px;
}
.about-main {
border: none;
margin-left: -75px;
overflow: hidden;
}
.abouts {
border: none;
}
.abouts-title {
max-width: 800px;
}
.about-1-title {
margin-left: 50px;
}
.about-2-title {
margin-top: 350px;
margin-left: -280px;
}
.about-2 {
margin-top: -250px;
margin-left: 60px;
}
.about-3-title {
position: absolute;
margin-top: 750px;
margin-left: 60px;
}
.about-3 {
position: absolute;
margin-top: 1550px;
}
.about-4-title {
margin-left: -330px;
margin-top: 1300px;
}
.about-4 {
position: absolute;
margin-top: 2500px;
margin-left: 60px;
}
.about-5-title {
margin-top: 200px;
}
.about-6 {
margin-left: 65px;
}
.about-6-title {
margin-top: 400px;
margin-left: -310px;
}
.blog-title {
position: absolute;
font-size: 60px;
margin-top: 100px;
}
.blog-page-title {
margin-left: 10px;
}
.blog-page-date {
margin-left: -200px;
}
.navbar-blog {
transform: translateY(600px)
}
.post-title {
font-size: 60px;
position: absolute;
margin-top: -480px;
}
.post-date {
position: absolute;
font-size: 40px;
margin-top: -550px;
margin-left: -100px;
}
.post {
transform: translateY(-500px);
margin-left: 50px;
}
.img-post {
transform: translateY(-500px)
}
.post-navbar {
margin-top: 800px;
}
.portfolio {
margin-top: 1000px;
height: 1600px;
}
.portfolio-title {
font-size: 60px;
}
.project-text {
position: absolute;
}
.project-subtext {
opacity: 0;
}
.project-img {
position: absolute;
transform: scale(.5)
}
.project-img-1 {
margin-top: -230px;
}
.project-text-1 {
margin-top: 100px;
margin-left: 130px;
}
.btn1 {
margin-left: 20px;
}
.project-img-2 {
margin-top: 300px;
}
.project-text-2 {
margin-top: 1200px;
margin-left: -500px;
}
.btn2 {
margin-left: -600px;
margin-top: 1100px;
}
.project-img-3 {
margin-top: 800px;
margin-left: -10px;
}
.project-text-3 {
position: absolute;
margin-top: 1300px;
margin-left: -990px;
}
.btn3 {
position: absolute;
margin-left: -1110px;
margin-top: 1400px;
}
.services-title {
font-size: 60px;
margin-top: -1000px;
margin-left: 10px;
}
.services-container {
transform: scale(.6);
margin-left: -250px;
margin-top: -1250px;
border: none;
}
.service-text {
font-size: 25px;
max-width: 280px;
max-height: 406px;
overflow: scroll;
}
.service-title {
font-size: 30px;
}
.service-1-title {
margin-left: -340px;
}
.service-2-title {
margin-left: 550px;
}
.service-2-img {
margin-top: -500px;
margin-left: 530px;
}
.service-3-img {
margin-top: 300px;
}
.service-3-title {
margin-top: 400px;
margin-left: 50px;
}
.service-4-img {
margin-top: -500px;
}
.service-4-text {
margin-top: -50px;
margin-left: 30px;
}
.service-4-title {
margin-left: -700px;
}
.service-5-img {
margin-top: 20px;
}
.service-5-title {
position: absolute;
margin-top: 35px;
margin-left: -20px;
}
.service-5-text {
margin-top: 100px;
}
.service-6-img {
margin-left: 150px;
}
.service-6-title {
margin-left: -800px;
}
.service-6-text {
margin-left: 30px;
}

.services-footer {
position: absolute;
margin-left: 100px;
}
.navbar-services {
margin-top: 1000px;
transform: translateY(-240px);
}
}
@media (width: 768px) and (height: 1024px) {
.navbar-mobile-button {
margin-top: -1600px;
margin-left: 650px;
}
.navbar-mobile-checkbox {
margin-top: -1570px;
margin-left: 680px;
opacity: 0;
}
.navbar {
margin-top: -1500px;
}
.profile-img {
margin-top: -1600px;
}
.header-profile {
position: absolute;
margin-top: -500px;
}
.intro-text {
position: absolute;
margin-top: -400px;
}
.facts {
margin-left: 100px;
}
.navbar-about {
transform: translateY(1000px)
}
.about-image {
margin-left: -400px;
}
.about-text {
margin-left: -150px;
}
.blog-page-date {
margin-left: -230px;
}
.navbar-blog {
transform: translateY(680px);
}
.post-navbar {
margin-top: 1330px;
}
.post {
transform: translateY(-1500px)
}
.img-post {
transform: translateY(-1500px)
}
.portfolio {
margin-top: 1600px;
height: 2200px;
}
.project-text-1 {
margin-top: 200px;
}
.btn1 {
margin-top: 200px;
}
.project-text-2 {
margin-top: 1150px;
}
.btn2 {
margin-top: 1000px;
}
.project-text-3 {
margin-top: 1050px;
}
.btn3 {
margin-top: 1110px;
}
.navbar-services {
transform: translateY(680px)
}
}
@media (width: 384px) {
.navbar-mobile-button {
margin-top: -950px;
}
.navbar-mobile-checkbox {
margin-top: -930px;
}
.portfolio {
margin-top: 1000px;
}
}
@media (width: 412px) {
.navbar-mobile-button {
margin-top: -1030px;
}
.navbar-mobile-checkbox {
margin-top: -1010px;
}
.navbar {
margin-top: -900px;
}
.navbar-about {
transform: translateY(-180px)
}
.navbar-blog {
transform: translateY(-180px)
}
.blog-page-title {
transform: translateY(-300px)
}
.post-navbar {
margin-top: 800px;
}
.post {
transform: translateY(-900px)
}
.img-post {
transform: translateY(-900px)
}
.portfolio {
margin-top: 800px;
}
.navbar-services {
transform: translateY(60px)
}
}
@media (width: 411px) and (height: 823px) {
.navbar-mobile-button {
margin-top: -1100px;
}
.navbar-mobile-checkbox {
margin-top: -1100px;
}
.navbar {
margin-top: -1000px;
}
.navbar-about {
transform: translateY(-100px);
}
.navbar-blog {
margin-top: 820px
}
.post-navbar {
margin-top: 900px;
}
.post {
transform: translateY(-1000px)
}
.img-post {
transform: translateY(-1000px)
}
.post-date {
position: absolute;
margin-top: -1050px;
}
.portfolio {
margin-top: 1000px;
}
.navbar-services {
transform: translateY(140px)
}
}
@media (width: 393px) {
.navbar-mobile-button {
margin-top: -1150px;
}
.navbar {
margin-top: -1050px;
}
.navbar-mobile-checkbox {
margin-top: -1150px;
}
.navbar-blog {
margin-top: 900px
}
.portfolio {
margin-top: 1000px;
}
.navbar-services {
transform: translateY(200px);
}
}




